@page "/invoices/{InvoiceId}/view"

@using Zip2Clear.Data
@using Microsoft.EntityFrameworkCore
@using Radzen

@inject NavigationManager NavigationManager
@inject MyDbContext dbContext


<h3>@invoice.Vendor.Name #@invoice.InvoiceNumber</h3>
<Button Class="btn btn-primary" Clicked="Edit" >Edit</Button>
<br /><br />
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Invoice Info">
            <h5>Invoice Number:</h5>
            <p>@invoice.InvoiceNumber</p>
            <br />
            <h5>Vendor:</h5>
            <p>@invoice.Vendor?.Name</p>
            <br />
            <h5>Invoice Date:</h5>
            <p>@invoice.Date</p>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Items" >
            <RadzenDataGrid TItem="Item" Data="@items" >
                <Columns>
                    <RadzenDataGridColumn TItem="Item" Property="Item.Department" Title="Department" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.Quantity" Title="Quantity" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.Tarriff.Name" Title="Description" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.Value" Title="Value" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.Weight" Title="Weight" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.UomValue" Title="UOM Value" TextAlign="TextAlign.Right" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.Tarriff.UomId" Title="UOM ID" TextAlign="TextAlign.Left" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.Tarriff.Number" Title="Tarrif Number" Width="140px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.Tarriff.GeneralRate" Title="General Rate" Width="100px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="Item" Property="Item.Tarriff.ExciseRate" Title="Excise Rate" Width="100px" TextAlign="TextAlign.Center" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

<button class="btn btn-secondary" @onclick="(() => Cancel())">Cancel</button>
<button class="btn btn-danger" @onclick="(() => DeleteInvoice(invoice))">Delete</button>

@code {
    [Parameter]
    public string InvoiceId { get; set; }

    [Inject]
    public InvoiceServices service { get; set; }

    private List<Invoice> Invoices;
    private List<Item> items;
    public Invoice invoice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Invoices = await dbContext.Invoice
                            .Include("Vendor")
                            .ToListAsync();
        invoice = Invoices.FirstOrDefault(i => i.Id.ToString() == InvoiceId);
        items = await dbContext.Item
                            .Include(i => i.Tarriff)
                            .Where(i => i.Invoice == invoice)
                            .ToListAsync();
        await base.OnInitializedAsync();
    }

    private async Task DeleteInvoice(Invoice invoice)
    {
        await service.DeleteInvoiceAsync(invoice);
        NavigationManager.NavigateTo("/invoices");
    } 

    private async Task Cancel()
    {
        NavigationManager.NavigateTo("/invoices");
    }

    private async Task Edit()
    {
        NavigationManager.NavigateTo($"/invoices/{InvoiceId}/edit");
    }
}
