@page "/uom"

@using Zip2Clear.Data
@using Microsoft.EntityFrameworkCore
@using Syncfusion.Blazor.Grids

@inject MyDbContext dbContext

<h3>UOM</h3>

<SfGrid DataSource="@uomList" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowPaging="true">
    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
    <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="Uom"></GridEvents>
    <GridColumns>
        <GridColumn Field="@nameof(Uom.Code)" HeaderText="Code" ValidationRules="@(new ValidationRules{ Required=true })"></GridColumn>
        <GridColumn Field="@nameof(Uom.Description)" HeaderText="Description" ></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    public IEnumerable<Uom> uomList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetUOMs();
        await base.OnInitializedAsync();
    }

    private async Task GetUOMs()
    {
        uomList = dbContext.Uom.ToList();
    }

    private void ActionBeginHandler(ActionEventArgs<Uom> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                Args.Data.UomId = Guid.NewGuid();
                dbContext.Uom.Add(Args.Data);
                dbContext.SaveChanges();
                GetUOMs();
            }
            else
            {
                var uomExists = dbContext.Uom.FirstOrDefault(u => u.UomId == Args.Data.UomId);
                if (uomExists != null)
                {
                    dbContext.Uom.Update(Args.Data);
                    dbContext.SaveChanges();
                    GetUOMs();
                }
            }
        }
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            dbContext.Uom.Remove(Args.Data);
            dbContext.SaveChanges();
            GetUOMs();
        }
    }
    private void ActionCompleteHandler(ActionEventArgs<Uom> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            GetUOMs(); //to fetch the updated data from db to Grid
        }
    }
}
