@using Microsoft.EntityFrameworkCore
@using Zip2Clear.Data

@inject Radzen.DialogService DialogService
@inject Zip2Clear.Data.MyDbContext dbContext
@inject ItemServices itemService

<h3>New Item</h3>
<Div Flex="Flex.JustifyContent.Start" Margin="Margin.Is3.FromBottom">
    <Fields>
        <Field>
            <FieldLabel>Quantity</FieldLabel>
            <NumericEdit TValue="double" @ref="qntyEle" @bind-Value="item.Quantity"/>
        </Field>
        <Field>
            <FieldLabel>Description</FieldLabel>
            <Autocomplete TItem="Tariff" TValue="Tariff" Data="@tariffList" ValueField="@(( tariffs ) => tariffs)" 
                TextField="@(( tariffs ) => tariffs.Name)" @bind-SelectedValue="@item.Tariff" />
        </Field>
        <Field>
            <FieldLabel>Value</FieldLabel>
            <NumericEdit TValue="decimal" @bind-Value="item.Value" />
        </Field>
    </Fields>
</Div>
<Div Flex="Flex.JustifyContent.Start" Margin="Margin.Is3.FromBottom" >
    <Fields>
        <Field>
            <FieldLabel>Weight</FieldLabel>
            <NumericEdit TValue="double?" @bind-Value="item.Weight" @onblur="OnTariffSet" />
        </Field>
        <Field>
            <FieldLabel>UOM: Code is @item.Tariff?.Uom.Code</FieldLabel>
            <NumericEdit TValue="double?" @bind-Value="item.UomValue" />
        </Field>
    </Fields>
</Div>

<Button Class="btn btn-primary" Clicked="SaveAndNew" >Save and New</Button>
<Button Class="btn btn-secondary" Clicked="SaveAndClose" >Save and close</Button>
<Button Class="btn btn-danger" Clicked="CancelAndClose" >Cancel and Close</Button>


    @code {
    [Parameter] public Invoice invoice { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private Item item { get; set; }
    private IEnumerable<Tariff> tariffList;

    protected override async Task OnInitializedAsync()
    {
        tariffList = await dbContext.Tariff.Include(t => t.Uom).ToListAsync();
        AddItem();
    }

    private async Task AddItem()
    {
        item = new Item();
        item.ItemId = Guid.NewGuid();
        item.Invoice = invoice;
    }

    private Blazorise.NumericEdit<double> qntyEle;
    private async Task SaveAndNew()
    {
        await itemService.AddItemAsync(item);
        AddItem();
        qntyEle.Focus();
    }

    private async Task SaveAndClose()
    {
        await itemService.AddItemAsync(item);
        await OnClick.InvokeAsync("CloseDialog");
    }

    private async Task CancelAndClose()
    {
        item = null;
        await OnClick.InvokeAsync("CloseDialog");
    }

    private async Task OnTariffSet()
    {
        if (item.Tariff.Uom.Code == "EA")
        {
            item.UomValue = item.Quantity;
        }
        else if (item.Tariff.Uom.Code == "LB")
        {
            item.UomValue = item.Weight;
        }
    }
}
