@page "/declarations/{declarationId}"

@using Zip2Clear.Data
@using Microsoft.EntityFrameworkCore
@using Radzen

@inject DeclarationServices declarationService
@inject InvoiceServices invoiceService
@inject ItemServices itemService
@inject MyDbContext dbContext
@inject DialogService DialogService

<h3>DeclarationView</h3>

<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Header">
            
        </RadzenTabsItem>
        <RadzenTabsItem Text="B/L">
            <p>@declaration.ManifestNumber</p>
            <p>@declaration.BOLnumber</p>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Invoices">
            <RadzenButton Text="Open Invoice List" ButtonStyle="ButtonStyle.Secondary" Click=@OpenInvoiceList />
            <table class="table">
		        <thead>
			        <tr>
				        <th>Invoice Number</th>
				        <th>Invoice Date</th>
				        <th>Vendor</th>
                        <th>S/H</th>
                        <th>B/L freight</th>
			        </tr>
		        </thead>
		        <tbody>
                    @if (invoices.Any())
                    {
                        @foreach (var invoice in invoices)
                        {
                            <tr>
                                <td>@invoice.InvoiceNumber</td>
                                <td>@invoice.Date</td>
                                <td>@invoice.VendorName</td>
                                <td>$@invoice.FreightValue</td>
                                <td>$@invoice.InsuranceValue</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="6"><strong>No invoices available</strong></td></tr>
                    }
                </tbody>
            </table>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {
    [Parameter]
    public string? declarationId { get; set; }

    //Declaration
    private List<Declaration> declarationList;
    public Declaration declaration;

    //Invoice
    private List<Invoice> Invoices;
    public List<Invoice> invoices;


    protected override async Task OnInitializedAsync()
    {
        declarationList = await declarationService.GetDeclarationAsync();
        await base.OnInitializedAsync();
        await LoadDeclarationAsync();
        await RefreshInvoices();
        await RefreshItems();
    }

    private async Task LoadDeclarationAsync()
    {
        declaration = declarationList.FirstOrDefault(d => d.Id.ToString() == declarationId);
        await base.OnParametersSetAsync();
    }

    private async Task RefreshInvoices()
    {
        Invoices = await invoiceService.GetInvoiceAsync();
        invoices = Invoices.Where(i => i.Declaration == declaration).ToList();
    }

    #region Dialog
    public void Dispose()
    {
        // The DialogService is a singleton so it is advisable to unsubscribe.
        DialogService.OnOpen -= Open;
        DialogService.OnClose -= Close;
    }

    void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options){ }

    void Close(dynamic result){ }

    public async Task OpenInvoiceList()
    {
        await DialogService.OpenAsync<Shared.UnassignedInvoices>("Unassigned Invoices",
               new Dictionary<string, object>() { { "declarationId", declaration.DeclarationNumber } },
               new DialogOptions() { Width = "700px", Height = "570px", Resizable = true, Draggable = true });
    }
    #endregion

    #region Item Grid
    RadzenDataGrid<Item> itemsGrid;
    IList<Item> items;

    private async Task RefreshItems()
    {
        items = dbContext.Item.Where(i => i.DeclarationNumber == declaration.DeclarationNumber).ToList();
    }

    async Task EditRow(Item item)
    {
        await itemsGrid.EditRow(item);
    }

    void OnUpdateRow(Item item)
    {
        if (item == itemToInsert)
        {
            itemToInsert = null;
        }

        dbContext.Update(item);

        dbContext.SaveChanges();
    }

    async Task SaveRow(Item order)
    {
        if (order == itemToInsert)
        {
            itemToInsert = null;
        }

        await itemsGrid.UpdateRow(order);
    }

    void CancelEdit(Item order)
    {
        if (order == itemToInsert)
        {
            itemToInsert = null;
        }

        itemsGrid.CancelEditRow(order);

        // For production
        var orderEntry = dbContext.Entry(order);
        if (orderEntry.State == EntityState.Modified)
        {
            orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
            orderEntry.State = EntityState.Unchanged;
        }
    }

    async Task DeleteRow(Item item)
    {
        if (item == itemToInsert)
        {
            itemToInsert = null;
        }

        if (items.Contains(item))
        {
            dbContext.Remove<Item>(item);

            dbContext.SaveChanges();

            await itemsGrid.Reload();
        }
        else
        {
            itemsGrid.CancelEditRow(item);
        }
    }

    Item itemToInsert;

    async Task InsertRow()
    {
        itemToInsert = new Item();
        await itemsGrid.InsertRow(itemToInsert);
    }

    void OnCreateRow(Item item)
    {
        dbContext.Add(item);

        dbContext.SaveChanges();
    }
    #endregion
}
