@page "/declarations"

@using Zip2Clear.Data
@using Microsoft.EntityFrameworkCore

@inject NavigationManager NavigationManager
@inject MyDbContext dbContext

<h3>Declarations</h3>

<table class="table">
		<thead>
			<tr>
				<th>Declaration Number</th>
                <th>Bill of Lading Number</th>
				<th>DeclarationType</th>
				<th>Submitted Date</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
                @if (declarationList.Any())
                {
                    @foreach (var declaration in declarationList)
                    {
                        <tr @onclick="(() => ViewDeclaration(declaration))">
                            <td>@declaration.DeclarationNumber</td>
                            <td>@declaration.BOLnumber</td>
                            <td>@declaration.Type</td>
                            <td>@declaration.SubmittedDate</td>
                            <td>@declaration.Status</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="6"><strong>No declarations available</strong></td></tr>
                }
        </tbody>
</table>

@code {
    private List<Declaration> declarationList;
    private Declaration selectedDeclaration;

    protected override async Task OnInitializedAsync()
    {
        await RefreshDeclarations();
        await base.OnInitializedAsync();
    }

    private async Task RefreshDeclarations()
    {
        declarationList = await dbContext.Declaration.ToListAsync();
    }

    Declaration UpdateDeclaration = new Declaration();

    private void SetDeclarationForUpdate(Declaration declaration)
    {
        UpdateDeclaration = declaration;

    }

    private async Task UpdateDeclarationData()
    {
        dbContext.Declaration.Update(UpdateDeclaration);
        await RefreshDeclarations();
    }

    private async Task DeleteDeclaration(Declaration declaration)
    {
        dbContext.Declaration.Remove(declaration);
        await RefreshDeclarations();
    } 
    
    private void ViewDeclaration(Declaration declaration)
    {
        string declarationId = declaration.DeclarationId.ToString();
        NavigationManager.NavigateTo($"/declarations/{declarationId}");
    }
}
